@use 'variables' as v;

body {
  font-family: v.$font-base;
  background-color: v.$bg-dark;
  color: v.$text-light;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 { margin-bottom: 1rem; }
p { margin-bottom: 1rem; }

