$primary: #00bfb3;
$primary-hover: #31ddcc;
$primary-dark: #17a787;

$light: #b4c0d3;
$text-light: #f8fafc;

$secondary: #00a6ed09;

$bg-dark: #0F172a;

$transport: #6B7C86;

$hint: #f77c4f;

$font-base: 'Audiowide', Verdana, sans-serif;






